Repository numpy/numtype, pull requests merged in 2025-04, with the labels that each got.

#453 📝 document the differences between the longdouble `item` and `tolist` methods
  docs/user_guide/differences.md
Labels: topic: documentation

#455 👷 only trigger deploy on changes to docs
  .github/workflows/docs.yml
Labels: topic: automation, tool: github-actions

#459 ⬆️ bump `griffe` to `1.7.2` and `mkdocs-material` to `9.6.11`
  uv.lock
Labels: topic: dependencies

#461 👷 add docs-check to `lefthook`
  lefthook.yml
Labels: topic: automation, topic: developer experience

#463 could you link to the relevant PR's in the description,
  pyproject.toml
  tool/stubtest.py.lock
  tool/testgen.py
  tool/ufunc.py
  tool/ufunc.py.lock
  uv.lock
Labels: topic: dependencies, topic: code style

#467 📈 documentation analytics
  docs/overrides/main.html
  mkdocs.yml
Labels: topic: documentation

#460 🚚 move test `README.md` into the `CONTRIBUTING.md`
  CONTRIBUTING.md
  src/numpy-stubs/@test/README.md
Labels: topic: documentation

#465 👷 add `labeler`
  .github/labeler.yml
Labels: topic: automation, topic: developer experience

#469 💄 make the docs look more like pydata-sphinx-theme
  docs/style/color.css
  docs/style/font.css
  docs/style/overrides.css
  docs/style/theme.css
  mkdocs.yml
Labels: topic: documentation

#475 ⬆️ bump `ruff` to `0.11.4`, `typing_extensions` to `4.13.1`, and `mkdocs-awesome-nav` to `3.1.1`
  pyproject.toml
  uv.lock
Labels: topic: dependencies

#472 🚚 port type masked array `shape`, `dtype`, `__int__`, and `__float__`
  src/numpy-stubs/@test/static/accept/ma.pyi
  src/numpy-stubs/@test/static/reject/ma.pyi
  src/numpy-stubs/ma/core.pyi
Labels: numpy.ma.*, port: from numpy

#476 ♻️ refactor type variable names from `_SCT` to `_ScalarT`
  src/_numtype/@test/test_to_array.pyi
  src/numpy-stubs/@test/static/accept/array_constructors.pyi
  src/numpy-stubs/@test/static/accept/multiarray.pyi
  src/numpy-stubs/@test/static/accept/twodim_base.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/records.pyi
  src/numpy-stubs/_core/shape_base.pyi
  src/numpy-stubs/lib/_arraypad_impl.pyi
  src/numpy-stubs/lib/_stride_tricks_impl.pyi
Labels: stubs: Refactor

#477 👷 check if `uv.lock` is up-to-date
  .github/workflows/ci.yml
  uv.lock
Labels: topic: automation, tool: github-actions

#478 💥 change `[u]long` into a platform-dependent type alias
  src/numpy-stubs/@test/static/accept/ctypeslib.pyi
  src/numpy-stubs/@test/static/accept/dtype.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ctypeslib.pyi
Labels: numpy.generic, is: Breaking

#479 ⚡️♻️ remove redundant `dtype.__new__` overloads for faster type-checking
  pyproject.toml
  src/numpy-stubs/@test/static/accept/dtype.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_char_codes.pyi
  src/numpy-stubs/_typing/_dtype_like.pyi
Labels: stubs: Refactor, numpy.dtype

#480 🧑‍💻 add `.gitattributes` for better handling of generated files
  .gitattributes
Labels: topic: developer experience

#481 ✨ `_numtype` dtype-like type-aliases
  src/_numtype/__init__.pyi
  src/_numtype/_dtype.pyi
  src/numpy-stubs/@test/static/accept/dtype.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_char_codes.pyi
Labels: _numtype, numpy.dtype

#482 💄reformat `dtype.__new__`
  src/numpy-stubs/__init__.pyi
Labels: stubs: Refactor, numpy.dtype

#483 ✨ return specialized `numpy.dtypes` instances from `dtype.__new__`
  src/numpy-stubs/@test/static/accept/dtype.pyi
  src/numpy-stubs/__init__.pyi
Labels: stubs: Enhancement, numpy.dtypes.*, numpy.dtype

#486 🔥 remove redundant scalar binop overloads
  src/numpy-stubs/__init__.pyi
Labels: numpy.generic, stubs: Refactor

#496 ⬆️ bump `ruff` to `0.11.5` and `basedpyright` to `1.28.5`
  lefthook.yml
  pyproject.toml
  src/_numtype/@test/test_to_array.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/random/bit_generator.pyi
  src/numpy-stubs/testing/_private/utils.pyi
  tool/stubtest.py.lock
  tool/test/test_format_ignores.py
  tool/testgen.py
  tool/ufunc.py.lock
  uv.lock
Labels: topic: dependencies

#497 ✨ massive cleanup of the `integer` binops, by using the embedded NEP 50 rules
  .vscode/settings.json
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/numpy-stubs/@test/generated/scalar_ops_arithmetic.pyi
  src/numpy-stubs/@test/generated/scalar_ops_bitwise.pyi
  src/numpy-stubs/@test/generated/scalar_ops_modular.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: blame: Mypy, numpy.generic, stubs: Refactor, topic: NEP 50

#498 🎨 shuffle the definition order of the scalar types
  src/numpy-stubs/__init__.pyi
Labels: stubs: Refactor, topic: code style

#500 ✨ massive cleanup of the `inexact` binops, by using the embedded NEP 50 rules
  src/_numtype/@test/test_nep50.pyi
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/numpy-stubs/@test/generated/scalar_ops_arithmetic.pyi
  src/numpy-stubs/@test/generated/scalar_ops_comparison.pyi
  src/numpy-stubs/@test/generated/scalar_ops_modular.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: numpy.generic, stubs: Refactor, topic: NEP 50

#502 🤖 testgen `ndarray` binop vs builtin scalar types
  tool/testgen.py
Labels: topic: testing, topic: automation, numpy.ndarray

#503 ✨ improved interface to the NEP 50 promotion rules
  src/_numtype/@test/test_nep50.pyi
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/numpy-stubs/__init__.pyi
Labels: stubs: Enhancement, _numtype, topic: NEP 50

#505 ✅ fix failing `ndarray.__add__` tests for builtin scalars
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/numpy-stubs/@test/generated/ndarray_ops_add.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
  tool/testgen.py
Labels: numpy.ndarray, _numtype, topic: NEP 50

#506 🤖 `ndarray` binop testgen with abstract scalar types
  src/numpy-stubs/@test/generated/ndarray_ops_add.pyi
  tool/testgen.py
Labels: topic: automation, numpy.ndarray, topic: type-checking

#507 ♻️ prefer `longdouble|clongdouble` over `inexact`
  src/numpy-stubs/@test/generated/ndarray_ops_add.pyi
  src/numpy-stubs/@test/generated/scalar_ops_arithmetic.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: topic: NEP 50

#508 🤖 `ndarray` unop testgen & add missing `object.__add__`
  src/numpy-stubs/@test/generated/ndarray_abs.pyi
  src/numpy-stubs/@test/generated/ndarray_add.pyi
  src/numpy-stubs/@test/generated/ndarray_invert.pyi
  src/numpy-stubs/@test/generated/ndarray_neg.pyi
  src/numpy-stubs/@test/generated/ndarray_pos.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: stubs: Incorrect, topic: testing, topic: automation, port: to numpy

#509 ✅ fix failing `ndarray` arithmetic binop tests
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/_numtype/op.pyi
  src/numpy-stubs/@test/generated/.ruff.toml
  src/numpy-stubs/@test/generated/ndarray_invert.pyi
  src/numpy-stubs/@test/generated/ndarray_matmul.pyi
  src/numpy-stubs/@test/generated/ndarray_mul.pyi
  src/numpy-stubs/@test/generated/ndarray_neg.pyi
  src/numpy-stubs/@test/generated/ndarray_pos.pyi
  src/numpy-stubs/@test/generated/ndarray_pow.pyi
  src/numpy-stubs/@test/generated/ndarray_sub.pyi
  src/numpy-stubs/@test/generated/ndarray_truediv.pyi
  src/numpy-stubs/@test/runtime/legacy/arithmetic.py
  src/numpy-stubs/@test/static/accept/arithmetic.pyi
  src/numpy-stubs/@test/static/reject/arithmetic.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  tool/testgen.py
Labels: blame: Mypy, numpy.ndarray, _numtype, topic: NEP 50

#510 ✅ fix failing `ndarray` binop tests for `__floordiv__` and `__mod__`
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  src/numpy-stubs/@test/static/accept/arithmetic.pyi
  src/numpy-stubs/@test/static/reject/arithmetic.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
  tool/testgen.py
Labels: numpy.ndarray, topic: NEP 50

#511 ✅ fix failing `ndarray.__divmod__` tests
  src/numpy-stubs/@test/generated/ndarray_divmod.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: blame: Mypy, blame: Pyright, numpy.ndarray, topic: NEP 50

#512 🐴 better workaround for mypy issues with `ndarray.__{floordiv, mod}__` and `c16`
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: blame: Mypy, stubs: Workaround, numpy.ndarray

#513 ✅ fix failing `ndarray` bitwise binop tests
  src/numpy-stubs/@test/generated/ndarray_and.pyi
  src/numpy-stubs/@test/generated/ndarray_lshift.pyi
  src/numpy-stubs/@test/generated/ndarray_or.pyi
  src/numpy-stubs/@test/generated/ndarray_rshift.pyi
  src/numpy-stubs/@test/generated/ndarray_xor.pyi
  src/numpy-stubs/@test/runtime/legacy/arithmetic.py
  src/numpy-stubs/@test/static/accept/bitwise_ops.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Labels: numpy.ndarray, topic: NEP 50

#514 ✨ specialized scalar `dtype` types
  src/numpy-stubs/@test/static/accept/scalars.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_type_aliases.pyi
Labels: stubs: Enhancement, numpy.dtypes.*

#515 📝 style guide
  CONTRIBUTING.md
  docs/.nav.yml
  docs/contributing.md
  docs/dev/index.md
  docs/dev/style.md
  docs/index.md
  docs/theme/img/favicon.ico
  docs/theme/img/icon.svg
  docs/theme/img/logo-numtype.svg
  docs/theme/overrides/main.html
  docs/theme/style/color.css
  docs/theme/style/font.css
  docs/theme/style/overrides.css
  docs/theme/style/theme.css
  docs/user/differences.md
  docs/user/index.md
  mkdocs.yml
Labels: topic: documentation, topic: code style

#517 📝 fix numtype logo url
  README.md
Labels: topic: documentation

#519 💥 remove `NBitBase`
  src/_numtype/__init__.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/@test/static/accept/ndarray_conversion.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/getlimits.pyi
  src/numpy-stubs/_typing/__init__.pyi
  src/numpy-stubs/_typing/_nbit.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/random/_generator.pyi
  src/numpy-stubs/typing/__init__.pyi
  tool/allowlists/common.txt
Labels: numpy.generic, is: Breaking

#523 🎨 enforce `import _numtype as _nt` everywhere
  pyproject.toml
  src/numpy-stubs/@test/static/accept/arraysetops.pyi
  src/numpy-stubs/@test/static/accept/linalg.pyi
  src/numpy-stubs/@test/static/accept/polynomial_polybase.pyi
  src/numpy-stubs/@test/static/reject/lib_function_base.pyi
  src/numpy-stubs/_core/_asarray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_arraysetops_impl.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_nanfunctions_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_shape_base_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/linalg/_umath_linalg.pyi
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/hermite.pyi
  src/numpy-stubs/polynomial/hermite_e.pyi
  src/numpy-stubs/polynomial/laguerre.pyi
  src/numpy-stubs/polynomial/legendre.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  src/numpy-stubs/polynomial/polyutils.pyi
Labels: stubs: Refactor, _numtype, topic: code style

#524 🎨 simplified `ctypeslib` & `ctypes` scalar embeddings
  src/_numtype/op.pyi
  src/numpy-stubs/@test/static/accept/ctypeslib.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ctypeslib.pyi
Labels: stubs: Enhancement, numpy.generic, stubs: Refactor, numpy.ctypeslib.*

#525 ⬆️ bump `ruff` to `0.11.6`
  pyproject.toml
  uv.lock
Labels: topic: dependencies

#526 ✨ improved `cov` and `corrcoef` annotations
  src/numpy-stubs/@test/static/accept/lib_function_base.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
Labels: stubs: Enhancement

#527 ⬆️ bump `basedpyright` to `1.29.1` (pyright 1.1.400)
  pyproject.toml
  src/numpy-stubs/@test/static/reject/scalars.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/lib/mixins.pyi
  tool/stubtest.py.lock
  tool/testgen.py
  tool/ufunc.py.lock
  uv.lock
Labels: topic: dependencies

#528 ⬆️ bump `numpy` to `2.2.5`
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Labels: topic: dependencies

#533 👔 add `py.typed` to the `_?numtype` packages
  src/_numtype/py.typed
  src/numtype/py.typed
Labels: _numtype

#532 🎨 prefer `_numtype.Shape*` over int tuples as shape type
  src/_numtype/__init__.pyi
  src/numpy-stubs/@test/runtime/legacy/arrayterator.py
  src/numpy-stubs/@test/runtime/legacy/lib_user_array.py
  src/numpy-stubs/@test/runtime/legacy/ndarray_shape_manipulation.py
  src/numpy-stubs/@test/runtime/legacy/recfunctions.py
  src/numpy-stubs/@test/runtime/legacy/shape.py
  src/numpy-stubs/@test/static/accept/array_constructors.pyi
  src/numpy-stubs/@test/static/accept/char.pyi
  src/numpy-stubs/@test/static/accept/comparisons.pyi
  src/numpy-stubs/@test/static/accept/rec.pyi
  src/numpy-stubs/@test/static/accept/scalars.pyi
  src/numpy-stubs/@test/static/accept/strings.pyi
  src/numpy-stubs/@test/static/accept/ufunclike.pyi
  src/numpy-stubs/@test/static/reject/chararray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/defchararray.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/strings.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/recfunctions.pyi
  src/numpy-stubs/ma/testutils.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  tool/ufunc.py
Labels: topic: shape-typing, _numtype

#535 ⬆️ bump development dependencies
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Labels: topic: dependencies
