Repository numpy/numtype, pull requests merged in 2025-03, with the labels that each got.

#217 🏷️ fix stubtest errors in `numpy.generic`
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  test/static/reject/ndarray_misc.pyi
Labels: stubs: Incorrect, numpy.generic, tool: stubtest, backport: Upstream

#218 🏷️ annotate the missing `ufunc.resolve_dtypes` method
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
Labels: stubs: Incorrect, numpy.ufunc, tool: stubtest, backport: Upstream

#219 👷 split CI steps into (parallelizable) jobs
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Labels: topic: CI, tool: github-actions

#220 ⬆️ bump `ruff` to `0.9.9`, `basedpyright` to `1.28.1`
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: tool: ruff, tool: basedpyright, topic: Dependencies

#221 🏷️ fix stubtest errors in `numpy._core`
  .mypyignore-todo
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/function_base.pyi
  src/numpy-stubs/_core/numeric.pyi
  test/static/accept/array_constructors.pyi
  test/static/accept/fromnumeric.pyi
Labels: stubs: Incorrect, tool: stubtest, backport: Upstream, numpy._core.*

#222 🏷️ fix stubtest errors related to `__all__`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/__init__.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/numerictypes.pyi
  src/numpy-stubs/_typing/_extended_precision.pyi
  src/numpy-stubs/core/__init__.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/random/_mt19937.pyi
  src/numpy-stubs/random/_pcg64.pyi
  src/numpy-stubs/random/_philox.pyi
  src/numpy-stubs/random/_sfc64.pyi
  src/numpy-stubs/random/mtrand.pyi
  src/numpy-stubs/testing/__init__.pyi
  src/numpy-stubs/testing/_private/utils.pyi
Labels: stubs: Incorrect, tool: stubtest, backport: Upstream

#223 🏷️ 🗑️ annotate the missing deprecated `row_stack` function
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/lib/_shape_base_impl.pyi
  src/numpy-stubs/matlib.pyi
Labels: stubs: Incorrect, numpy.lib.*, tool: stubtest, backport: Upstream

#225 🏷️ stub `numpy._utils`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/_utils/__init__.pyi
  src/numpy-stubs/_utils/_convertions.pyi
  src/numpy-stubs/_utils/_inspect.pyi
  src/numpy-stubs/_utils/_pep440.pyi
Labels: stubs: Incomplete, backport: Upstream, numpy._utils

#226 🏷️ stub `numpy._core.overrides`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/_core/overrides.pyi
  src/numpy-stubs/core/__init__.pyi
  src/numpy-stubs/core/overrides.pyi
Labels: stubs: Incomplete, tool: stubtest, backport: Upstream, numpy._core.*, numpy.core.*

#227 🏷️ stub `numpy._core._dtype[_ctypes]`
  .mypyignore-todo
  src/numpy-stubs/_core/_dtype.pyi
  src/numpy-stubs/_core/_dtype_ctypes.pyi
  src/numpy-stubs/core/__init__.pyi
  src/numpy-stubs/core/_dtype.pyi
  src/numpy-stubs/core/_dtype_ctypes.pyi
Labels: stubs: Incomplete, backport: Upstream, numpy._core.*, numpy.core.*

#228 🏷️ fix stubtest errors in `timedelta64` and `object_`
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
Labels: stubs: Incomplete, numpy.generic, tool: stubtest, backport: Upstream

#229 🏷️ fix stubtest errors in `numpy.dtype` and `numpy.dtypes.*`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/dtypes.pyi
Labels: stubs: Incomplete, stubs: Workaround, numpy.dtypes.*, blame: Typing Spec, tool: stubtest, backport: Upstream, numpy.dtype

#231 ✨ complete ufunc infrastructure rewrite
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_typing/__init__.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  src/numpy-stubs/matlib.pyi
  test/runtime/accept/literal.py
  test/runtime/accept/ufuncs.py
  test/static/accept/multiarray.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: blame: Mypy, stubs: Enhancement, numpy.ufunc, tool: stubtest

#233 🏷️ fix stubtest errors in `numpy.lib._function_base_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/ma/extras.pyi
  test/static/reject/lib_function_base.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#234 🏷️ fix stubtest errors in `numpy.lib._arraysetops_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_arraysetops_impl.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#235 🏷️ fix stubtest errors in `numpy.lib._index_tricks_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/ma/extras.pyi
  test/runtime/accept/index_tricks.py
  test/static/accept/index_tricks.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#237 🏷️ fix stubtest errors in `numpy.lib._npyio_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_npyio_impl.pyi
  test/static/accept/npyio.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#239 🏷️ fix stubtest errors in `numpy._core.einsumfunc`
  .mypyignore-todo
  src/numpy-stubs/_core/einsumfunc.pyi
Labels: tool: stubtest, backport: Upstream, numpy._core.*

#240 🏷️ fix stubtest errors in `numpy._core.arrayprint`
  .mypyignore-todo
  src/numpy-stubs/_core/arrayprint.pyi
  test/static/reject/arrayprint.pyi
Labels: tool: stubtest, backport: Upstream, numpy._core.*

#242 🏷️ stub the missing submodules of `numpy.core`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/core/__init__.pyi
  src/numpy-stubs/core/_dtype.pyi
  src/numpy-stubs/core/_dtype_ctypes.pyi
  src/numpy-stubs/core/_internal.pyi
  src/numpy-stubs/core/_multiarray_umath.pyi
  src/numpy-stubs/core/_utils.pyi
  src/numpy-stubs/core/arrayprint.pyi
  src/numpy-stubs/core/defchararray.pyi
  src/numpy-stubs/core/einsumfunc.pyi
  src/numpy-stubs/core/fromnumeric.pyi
  src/numpy-stubs/core/function_base.pyi
  src/numpy-stubs/core/getlimits.pyi
  src/numpy-stubs/core/multiarray.pyi
  src/numpy-stubs/core/numeric.pyi
  src/numpy-stubs/core/numerictypes.pyi
  src/numpy-stubs/core/overrides.pyi
  src/numpy-stubs/core/records.pyi
  src/numpy-stubs/core/shape_base.pyi
  src/numpy-stubs/core/umath.pyi
Labels: stubs: Incomplete, numpy.core.*, topic: Deprecation

#243 🏷️ fix stubtest errors in `numpy._core._type_aliases`
  .mypyignore-todo
  src/numpy-stubs/_core/_type_aliases.pyi
Labels: blame: NumPy, tool: stubtest

#244 🏷️ fix stubtest errors in `numpy.lib._nanfunctions_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_nanfunctions_impl.pyi
Labels: numpy.lib.*, tool: stubtest

#245 🏷️ fix stubtest errors in `numpy.lib._twodim_base_impl`
  .mypyignore-todo
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  test/static/accept/twodim_base.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#246 🏷️ fix remaining stubtest errors in `numpy._core`
  .mypyignore-todo
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/memmap.pyi
  src/numpy-stubs/_core/records.pyi
Labels: tool: stubtest, backport: Upstream, numpy._core.*

#247 🏷️ fix stubtest errors in `numpy.mat[rix]lib`
  .mypyignore-todo
  src/numpy-stubs/matlib.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
Labels: numpy.matlib.*, tool: stubtest, backport: Upstream, numpy.matrixlib.*

#248 🏷️ stub the missing submodules of `numpy.linalg`
  .mypyignore-todo
  src/numpy-stubs/_typing/_ufunc.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/linalg/_umath_linalg.pyi
  src/numpy-stubs/linalg/lapack_lite.pyi
  src/numpy-stubs/linalg/linalg.pyi
Labels: stubs: Incomplete, numpy.linalg.*, tool: stubtest, backport: Upstream

#249 🏷️ fix stubtest errors in `numpy._globals`
  .mypyignore-todo
  src/numpy-stubs/_globals.pyi
Labels: tool: stubtest, backport: Upstream

#250 🏷️ fix remaining stubtest errors in `numpy.lib`
  .mypyignore-todo
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/lib/_array_utils_impl.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_iotools.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/format.pyi
  src/numpy-stubs/lib/mixins.pyi
  src/numpy-stubs/lib/recfunctions.pyi
Labels: numpy.lib.*, tool: stubtest, backport: Upstream

#251 🏷️ fix stubtest errors in `numpy.random`
  .mypyignore-todo
  src/numpy-stubs/random/bit_generator.pyi
  test/static/accept/random.pyi
  test/static/reject/random.pyi
Labels: numpy.random.*, tool: stubtest, backport: Upstream

#252 🏷️ fix stubtest errors in `numpy.testing`
  .mypyignore
  .mypyignore-todo
  src/numpy-stubs/testing/_private/utils.pyi
  test/static/accept/testing.pyi
  test/static/reject/testing.pyi
Labels: numpy.testing.*, tool: stubtest, backport: Upstream

#253 🔨 simplified stubtesting
  .github/workflows/ci.yml
  tool/.mypyignore
  tool/.mypyignore-todo
  tool/stubtest.py
  tool/stubtest.py.lock
Labels: topic: CI, topic: Development, tool: stubtest

#254 🏷️ fix stubtest errors in `numpy.polynomial._polybase`
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/hermite.pyi
  src/numpy-stubs/polynomial/hermite_e.pyi
  src/numpy-stubs/polynomial/laguerre.pyi
  src/numpy-stubs/polynomial/legendre.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  test/static/accept/polynomial_polybase.pyi
  tool/.mypyignore-todo
Labels: numpy.polynomial.*, tool: stubtest

#255 🏷️ fix stubtest errors in `numpy.polynomial.chebyshev`
  src/numpy-stubs/polynomial/_polytypes.pyi
  src/numpy-stubs/polynomial/chebyshev.pyi
  test/static/accept/polynomial_series.pyi
  tool/.mypyignore-todo
Labels: numpy.polynomial.*, tool: stubtest

#256 🏷️ fix stubtest errors in `numpy.polynomial.polynomial`
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  test/static/accept/polynomial_series.pyi
  tool/.mypyignore-todo
Labels: numpy.polynomial.*, tool: stubtest

#258 🏷️ fix remaining stubtest errors in `numpy.polynomial.*`
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/hermite.pyi
  src/numpy-stubs/polynomial/hermite_e.pyi
  src/numpy-stubs/polynomial/laguerre.pyi
  src/numpy-stubs/polynomial/legendre.pyi
  tool/.mypyignore-todo
Labels: numpy.polynomial.*, tool: stubtest

#259 🔥 remove the type-check-only `polynomial._polytypes` module
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/_polytypes.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  src/numpy-stubs/polynomial/polyutils.pyi
  test/static/accept/polynomial_polybase.pyi
  test/static/accept/polynomial_polyutils.pyi
  tool/.mypyignore
Labels: stubs: Refactor, numpy.polynomial.*

#260 🏷️ fix stubtest error in `numpy.typing`
  src/numpy-stubs/_typing/_nbit_base.pyi
  tool/.mypyignore-todo
Labels: numpy.typing.*, tool: stubtest, blame: Self

#261 🏷️ stub `numpy.fft.helper` (deprecated)
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/fft/helper.pyi
  test/static/accept/fft.pyi
  tool/.mypyignore-todo
Labels: stubs: Incomplete, stubs: Enhancement, numpy.fft.*, tool: stubtest, backport: Upstream

#262 🏷️ stub `numpy.compat` (deprecated)
  src/numpy-stubs/compat/__init__.pyi
  src/numpy-stubs/compat/py3k.pyi
  tool/.mypyignore
  tool/.mypyignore-todo
Labels: tool: stubtest, stubs: Deprecation

#263 🏷️ fix stubtest errors in `numpy.ctypeslib`
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/ctypeslib/__init__.pyi
  tool/.mypyignore-todo
Labels: numpy.ctypeslib.*, tool: stubtest, backport: Upstream

#265 🔧🐛 configure tox & fix python-specific issues
  pyproject.toml
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/defchararray.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/records.pyi
  src/numpy-stubs/_core/shape_base.pyi
  src/numpy-stubs/_typing/_array_like.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  tool/.mypyignore-ge312.txt
  tool/.mypyignore-lt312.txt
  tool/.mypyignore-todo.txt
  tool/.mypyignore.txt
  tool/stubtest.py
Labels: stubs: Incorrect, topic: Development, blame: Typeshed, tool: tox

#267 🐛 fix the `numpy.bool` binops
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_callable.pyi
  test/generate_scalar_binops.py
  test/generated/ruff.toml
  test/generated/scalar_binops.pyi
  test/static/accept/mod.pyi
  test/static/reject/arithmetic.pyi
Labels: stubs: Incorrect, numpy.generic, stubs: Refactor, backport: Upstream

#268 🔥 remove pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: topic: CI, is: Unfixable, topic: Development, tool: pre-commit

#270 🩹 fix `numpy.inner` overload
  src/numpy-stubs/_core/_multiarray_umath.pyi
Labels: stubs: Incorrect

#271 🏷️ add test for `np.put()`
  test/static/accept/fromnumeric.pyi
Labels: topic: Testing

#272 ⚰️ remove unnecessary cast
  test/runtime/accept/shape.py
Labels: topic: Testing

#273 ✨ improved `numpy.generic.__eq__`
  src/numpy-stubs/__init__.pyi
  test/generate_scalar_binops.py
  test/generated/scalar_binops.pyi
Labels: stubs: Enhancement, numpy.generic, topic: Testing

#274 ⚡️ disable `reportShadowedImports`
  pyproject.toml
Labels: topic: CI, topic: Development, tool: basedpyright

#275 🏷️ add acceptance tests for 2D arrays
  test/runtime/accept/shape.py
Labels: topic: Testing, backport: Upstream, numpy._core.*

#276 🏷️ stub numpy.random._pickle
  src/numpy-stubs/random/_pickle.pyi
Labels: stubs: Incomplete, numpy.random.*, backport: Upstream

#278 🏷️ stub `numpy.ma.timer_comparison`
  src/numpy-stubs/ma/timer_comparison.pyi
  tool/.mypyignore-todo.txt
Labels: stubs: Incomplete, numpy.ma.*, tool: stubtest, backport: Upstream

#280 🏷️ fix stubtest error in `numpy.ma`
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/ma/extras.pyi
  src/numpy-stubs/ma/mrecords.pyi
  tool/.mypyignore-todo.txt
Labels: numpy.ma.*, tool: stubtest, backport: Upstream

#281 🏷️ stub `numpy.ma.testutils`
  src/numpy-stubs/ma/testutils.pyi
  tool/.mypyignore-todo.txt
Labels: stubs: Incomplete, numpy.ma.*, backport: Upstream

#283 🤡 also apply the `unittest.TestCase` workaround to `numpy.testing.TestCase`
  src/numpy-stubs/ma/testutils.pyi
  src/numpy-stubs/testing/__init__.pyi
  test/static/accept/testing.pyi
  tool/.mypyignore.txt
Labels: stubs: Workaround, numpy.testing.*, blame: Typeshed

#277 🏷️ stub `numpy.random._bounded_integers`
  src/numpy-stubs/random/_bounded_integers.pyi
Labels: stubs: Incomplete, numpy.random.*, backport: Upstream

#284 🔨 also rewrite the `stubtest` stderr output
  tool/stubtest.py
Labels: topic: Development, tool: stubtest

#293 👽️ ✨ `numpy.meshgrid`: port numpy/numpy#28462 and add shape-typing
  src/_numtype/__init__.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  test/static/accept/lib_function_base.pyi
  test/static/reject/lib_function_base.pyi
Labels: topic: Shape-typing, stubs: Enhancement, numpy.lib.*, port: from numpy

#290 👷 stubtest on MacOS in CI, ignore SIMD errors if unavailable
  .github/workflows/ci.yml
  src/numpy-stubs/_core/_simd.pyi
  tool/allowlists/common-todo.txt
  tool/allowlists/common.txt
  tool/allowlists/ge-py312.txt
  tool/allowlists/lt-py312.txt
  tool/allowlists/simd.txt
  tool/stubtest.py
Labels: topic: CI, tool: stubtest, tool: github-actions, numpy._core.*

#294 ⬆️ bump `ruff` to `0.9.10`
  pyproject.toml
  uv.lock
Labels: tool: ruff, topic: Dependencies

#296 ⚡️ simplify `_numtype` for faster type-checking
  src/_numtype/__init__.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  test/static/accept/twodim_base.pyi
  test/static/test__numtype.pyi
Labels: stubs: Refactor, _numtype

#295 👷 stubtest on Windows in CI
  .github/workflows/ci.yml
  tool/allowlists/path-py311.txt
  tool/allowlists/path-py312.txt
  tool/stubtest.py
Labels: topic: CI, tool: stubtest, tool: github-actions

#288 🩹 use `TypedDict` for `numpy._core._simd.targets`
  src/numpy-stubs/_core/_simd.pyi
Labels: stubs: Enhancement, numpy._core.*

#297 🚨 fix pyright backcompat issues
  test/generate_emath.py
  test/generate_scalar_binops.py
Labels: blame: Pyright, stubs: Workaround

#298 ✨ fixed-size abstract scalar type aliases in `_numtype`
  src/_numtype/__init__.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/getlimits.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  test/static/accept/lib_function_base.pyi
Labels: stubs: Refactor, _numtype

#299 ♻️ rename some `_numtype` types
  src/_numtype/__init__.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/lib/_arraysetops_impl.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/hermite.pyi
  src/numpy-stubs/polynomial/hermite_e.pyi
  src/numpy-stubs/polynomial/laguerre.pyi
  src/numpy-stubs/polynomial/legendre.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  src/numpy-stubs/polynomial/polyutils.pyi
  test/static/accept/arraysetops.pyi
  test/static/test__numtype.pyi
Labels: stubs: Refactor, _numtype

#300 🤖 ♻️ combine the test generator scripts into a single extensible one
  test/generate_emath.py
  test/generate_scalar_binops.py
  test/generated/emath.pyi
  test/generated/scalar_binops.pyi
  tool/testgen.py
Labels: topic: Testing, topic: Development

#279 🏷️ stub `numpy.f2py`
  src/numpy-stubs/f2py/__init__.pyi
  src/numpy-stubs/f2py/__version__.pyi
  src/numpy-stubs/f2py/_backends/__init__.pyi
  src/numpy-stubs/f2py/_backends/_backend.pyi
  src/numpy-stubs/f2py/_backends/_distutils.pyi
  src/numpy-stubs/f2py/_backends/_meson.pyi
  src/numpy-stubs/f2py/_isocbind.pyi
  src/numpy-stubs/f2py/_src_pyf.pyi
  src/numpy-stubs/f2py/auxfuncs.pyi
  src/numpy-stubs/f2py/capi_maps.pyi
  src/numpy-stubs/f2py/cb_rules.pyi
  src/numpy-stubs/f2py/cfuncs.pyi
  src/numpy-stubs/f2py/common_rules.pyi
  src/numpy-stubs/f2py/crackfortran.pyi
  src/numpy-stubs/f2py/diagnose.pyi
  src/numpy-stubs/f2py/f2py2e.pyi
  src/numpy-stubs/f2py/f90mod_rules.pyi
  src/numpy-stubs/f2py/func2subr.pyi
  src/numpy-stubs/f2py/rules.pyi
  src/numpy-stubs/f2py/symbolic.pyi
  src/numpy-stubs/f2py/use_rules.pyi
  tool/allowlists/common-todo.txt
  tool/allowlists/common.txt
  tool/allowlists/ge-py312.txt
Labels: stubs: Incomplete, numpy.f2py.*, port: to numpy

#305 ♻️ concrete and cleaner `_numtype.Just*` types
  src/_numtype/__init__.pyi
  src/_numtype/_just.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
Labels: stubs: Refactor, _numtype

#306 📚 add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: topic: Docs

#308 🦾 add `@override` to `__init__.pyi`, `dtypes.pyi` and `_just.pyi`
  pyproject.toml
  src/_numtype/_just.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/dtypes.pyi
  tool/allowlists/common-todo.txt
Labels: tool: basedpyright

#310 🦾 add `@override` in `ma`
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/ma/extras.pyi
  src/numpy-stubs/ma/mrecords.pyi
Labels: tool: basedpyright

#312 ⬆️ bump `ruff` to `0.10.0`
  pyproject.toml
  uv.lock
Labels: tool: ruff, topic: Dependencies

#315 ✨ improved array constructor functions
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/numeric.pyi
  test/static/accept/array_constructors.pyi
Labels: topic: Shape-typing, stubs: Enhancement

#309 🦾 add `@override` in `_core`, `_utils`, `f2py`, `lib`, `matrixlib`, `polynomial`, `random`, and `tool`
  src/numpy-stubs/_core/_internal.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/records.pyi
  src/numpy-stubs/_utils/_pep440.pyi
  src/numpy-stubs/f2py/_backends/_distutils.pyi
  src/numpy-stubs/f2py/_backends/_meson.pyi
  src/numpy-stubs/f2py/f2py2e.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_npyio_impl.pyi
  src/numpy-stubs/lib/_version.pyi
  src/numpy-stubs/lib/mixins.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  src/numpy-stubs/random/_generator.pyi
  src/numpy-stubs/random/bit_generator.pyi
  src/numpy-stubs/random/mtrand.pyi
  tool/testgen.py
Labels: tool: basedpyright

#316 ⬆️ bump `ruff` to `0.11.0`
  pyproject.toml
  uv.lock
Labels: tool: ruff, topic: Dependencies

#311 ✨ enable `reportImplicitOverride`
  pyproject.toml
Labels: is: Deferred, tool: basedpyright

#318 ✨ add markdownlint
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  .vscode/extensions.json
  .vscode/settings.json
Labels: tool: markdownlint

#320 🏷️ ufunc annotations for `is{finite,inf,nan.nat}`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#321 ✏️ fix wrong `Incomplete` autoimport
  src/numpy-stubs/random/bit_generator.pyi
Labels: stubs: Incorrect, numpy.random.*

#322 ♻️ tighten `_Call21Bool` dtype
  src/numpy-stubs/_typing/_ufunc.pyi
  test/static/accept/char.pyi
  test/static/accept/strings.pyi
  test/static/reject/char.pyi
  test/static/reject/strings.pyi
Labels: stubs: Enhancement, numpy.ufunc

#325 🧑‍💻 add `seatonjiang.gitmoji-vscode` in `extensions.json`
  .vscode/extensions.json
Labels: topic: Development, tool: vscode

#329 ⬆️ bump `numtype` to `2.2.4.0.dev0`
  pyproject.toml
  uv.lock
Labels: topic: Dependencies

#330 👽️ fix (previously hidden) `numpy==2.2.4` stubtest errors
  pyproject.toml
  src/numpy-stubs/distutils/core.pyi
  src/numpy-stubs/distutils/extension.pyi
  src/numpy-stubs/distutils/misc_util.pyi
  src/numpy-stubs/distutils/system_info.pyi
  src/numpy-stubs/testing/__init__.pyi
  src/numpy-stubs/testing/_private/utils.pyi
  tool/allowlists/common.txt
  tool/allowlists/lt-py312.txt
  tool/stubtest.py
  tool/stubtest.py.lock
  uv.lock
Labels: stubs: API change, tool: stubtest

#328 🏷️ accept only datetime64 and timedelta64 input for `isnat`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#331 🩹 fix overlapping overloads in rich comparison ops of `bool`
  src/numpy-stubs/__init__.pyi
Labels: stubs: Incorrect, numpy.generic

#332 ✨ narrow the `bool` operator return types use `_numtype`
  src/numpy-stubs/__init__.pyi
  test/static/accept/arithmetic.pyi
  test/static/accept/bitwise_ops.pyi
  test/static/accept/mod.pyi
Labels: stubs: Enhancement, numpy.generic, blame: Typing Spec, _numtype

#324 🏷️ ufunc annotations for `logical_{not,and,or,xor}`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#333 🔨 ufunc signature introspection script
  pyproject.toml
  tool/ruff.toml
  tool/ufunc.py
  tool/ufunc.py.lock
  uv.lock
Labels: topic: Docs, numpy.ufunc, topic: Development

#337 ⬆️ bump `basedpyright` to `1.28.2` (`pyright 1.1.397`)
  pyproject.toml
  uv.lock
Labels: tool: basedpyright, topic: Dependencies

#336 🚚 move individual ufunc definition to `numpy._core.umath`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/__init__.pyi
  src/numpy-stubs/_core/umath.pyi
Labels: stubs: Refactor, numpy.ufunc

#340 🚚 move the ufunc-related callable protocols to `numpy._core.umath`
  src/numpy-stubs/_core/_methods.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/multiarray.pyi
  src/numpy-stubs/_core/umath.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  src/numpy-stubs/core/_multiarray_umath.pyi
  src/numpy-stubs/linalg/_umath_linalg.pyi
Labels: stubs: Refactor, numpy.ufunc

#342 ✨ more `_numtype` abstract scalar type aliases
  src/_numtype/__init__.pyi
  src/numpy-stubs/_core/getlimits.pyi
Labels: stubs: Enhancement, _numtype

#343 ♻️ reworked "NBit" infrastructure
  src/_numtype/__init__.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_internal.pyi
  src/numpy-stubs/_typing/_nbit.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/lib/_user_array_impl.pyi
  src/numpy-stubs/ruff.toml
Labels: numpy.generic, stubs: Refactor, _numtype

#344 🎨 `__init__.pyi` type alias cleanup
  src/_numtype/__init__.pyi
  src/numpy-stubs/__init__.pyi
Labels: stubs: Refactor, _numtype

#345 ✨ improved `floating` operator signatures
  src/_numtype/__init__.pyi
  src/numpy-stubs/__init__.pyi
  test/static/accept/arithmetic.pyi
  test/static/accept/mod.pyi
Labels: blame: Mypy, stubs: Enhancement, blame: Pyright, numpy.generic

#346 Changed duplicated fftfreq tests to rfftfreq.
  test/static/accept/fft.pyi
Labels: topic: Testing

#348 ✨ shape-typing and improved dtypes for `fft.[r]fftfreq`
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/fft/helper.pyi
  test/static/accept/fft.pyi
Labels: topic: Shape-typing, stubs: Enhancement, numpy.fft.*

#349 ✨ shape-typing and improved dtypes for `numpy.fft.[i]fftshift`
  src/numpy-stubs/fft/_helper.pyi
  test/static/accept/fft.pyi
Labels: topic: Shape-typing, stubs: Enhancement, numpy.fft.*

#350 🚨 fix `overload-overlap` in `complexfloating`
  src/numpy-stubs/__init__.pyi
Labels: stubs: Workaround, tool: mypy

#351 🩹 fix `bytes_` constructor not requiring `encoding` when a `str` is passes
  src/numpy-stubs/__init__.pyi
Labels: stubs: Incorrect, numpy.generic, blame: Self

#352 🔥 remove pr template (most PR's don't have issues)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: topic: Development

#353 🤖 generate builtin scalar binop tests
  src/numpy-stubs/__init__.pyi
  test/generated/scalar_binops.pyi
  tool/testgen.py
Labels: stubs: Incorrect, numpy.generic, topic: Testing

#354 🤖 improved test generation script
  test/generated/emath.pyi
  tool/testgen.py
Labels: topic: Testing, topic: Automation

#355 👷 configure dependabot for `uv`
  .github/dependabot.yml
Labels: topic: automation, tool: uv, topic: dependencies

#356 👷 markdownlint CI step
  .github/workflows/ci.yml
  .vscode/settings.json
  README.md
  doc/.markdownlint.yaml
Labels: topic: automation, tool: github-actions, tool: markdownlint

#357 💄 fix logo layout in `README.md`
  README.md
Labels: topic: documentation, blame: Self

#358 ♻️ cleaner `datetime64` and `timedelta64` operator overloads
  pyproject.toml
  src/numpy-stubs/__init__.pyi
Labels: numpy.generic, stubs: Refactor, tool: basedpyright

#359 🐛 change `[u]long` to be distinguishable from `[u]int64` and `[u]longlong`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/ctypeslib.pyi
Labels: stubs: Incorrect, numpy.generic, stubs: Workaround

#360 ♻️ prefer fixed-wdth ctypes in `numpy.ctypeslib`
  src/numpy-stubs/_typing/_char_codes.pyi
  src/numpy-stubs/ctypeslib.pyi
  test/static/accept/ctypeslib.pyi
Labels: stubs: Refactor, numpy.ctypeslib.*

#361 🐛 change `[u]intp` to be statically distinguishable from `int64` and `longlong`
  src/numpy-stubs/__init__.pyi
Labels: stubs: Incorrect, numpy.generic, stubs: Workaround

#363 🏷️ ufunc annotations for `spacing`
  src/numpy-stubs/_core/umath.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#365 📝 add tools doc
  tool/README.md
Labels: topic: documentation

#369 ⬆️ bump `ruff` to `0.11.2` and `basedpyright` to `1.28.3`
  pyproject.toml
  uv.lock
Labels: tool: ruff, tool: basedpyright, topic: dependencies

#372 🏷️ stub `signbit`
  src/numpy-stubs/_core/umath.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#375 🧑‍💻 don't use schema's in the even-better-toml vscode plugin
  .vscode/settings.json
Labels: topic: development, tool: vscode

#373 🏷️ ufunc annotations for `cbrt`, `deg2rad`, `degrees`, `fabs`, `rad2deg`, `radians`
  src/numpy-stubs/_core/umath.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#377 🔨 add `tool/promotion.py` to print scalar promotion tables and mermaid graphs
  tool/README.md
  tool/promotion.py
Labels: topic: automation, topic: development

#378 ♻️ refactor `_ArrayT | tuple` to `out1`
  src/numpy-stubs/_core/umath.pyi
Labels: stubs: Refactor, numpy.ufunc

#380 🩹 implicit `linalg` submodule re-exports
  src/numpy-stubs/linalg/__init__.pyi
  tool/ufunc.py
Labels: stubs: Incorrect, numpy.linalg.*, port: to numpy

#381 🧑‍💻 IDE-agnostic toml formatting using `taplo`
  .github/workflows/ci.yml
  .taplo.toml
  .vscode/settings.json
  pyproject.toml
Labels: topic: automation, topic: developer experience

#382 ✨ make the `dtype` generic type argument optional
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_dtype.pyi
  src/numpy-stubs/_core/_exceptions.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/_type_aliases.pyi
  src/numpy-stubs/_core/memmap.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/numerictypes.pyi
  src/numpy-stubs/_core/records.pyi
  src/numpy-stubs/_core/shape_base.pyi
  src/numpy-stubs/_typing/_array_like.pyi
  src/numpy-stubs/_typing/_dtype_like.pyi
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_user_array_impl.pyi
  src/numpy-stubs/lib/_utils_impl.pyi
  src/numpy-stubs/lib/format.pyi
  src/numpy-stubs/lib/mixins.pyi
  src/numpy-stubs/lib/recfunctions.pyi
  src/numpy-stubs/ma/core.pyi
  src/numpy-stubs/ma/mrecords.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  test/runtime/accept/array_like.py
  test/runtime/accept/recfunctions.py
  test/static/accept/array_constructors.pyi
  test/static/accept/ctypeslib.pyi
  test/static/accept/dtype.pyi
  test/static/accept/fromnumeric.pyi
  test/static/accept/matrix.pyi
  test/static/accept/multiarray.pyi
  test/static/accept/ndarray_conversion.pyi
  test/static/accept/nditer.pyi
  test/static/accept/rec.pyi
  tool/testgen.py
  tool/ufunc.py
Labels: stubs: Enhancement, stubs: Refactor, topic: developer experience, port: to numpy

#383 🐛 fix fallback in `_Call21Bool`
  src/numpy-stubs/_core/umath.pyi
Labels: numpy.ufunc

#385 ♻️ improve test consistency
  test/static/reject/array_constructors.pyi
  test/static/reject/array_pad.pyi
  test/static/reject/arrayprint.pyi
  test/static/reject/char.pyi
  test/static/reject/dtype.pyi
  test/static/reject/einsumfunc.pyi
  test/static/reject/flatiter.pyi
  test/static/reject/fromnumeric.pyi
  test/static/reject/index_tricks.pyi
  test/static/reject/lib_function_base.pyi
  test/static/reject/lib_polynomial.pyi
  test/static/reject/linalg.pyi
  test/static/reject/multiarray.pyi
  test/static/reject/ndarray_misc.pyi
  test/static/reject/npyio.pyi
  test/static/reject/random.pyi
  test/static/reject/scalars.pyi
  test/static/reject/shape_base.pyi
  test/static/reject/stride_tricks.pyi
  test/static/reject/strings.pyi
  test/static/reject/testing.pyi
  test/static/reject/twodim_base.pyi
  test/static/reject/type_check.pyi
  test/static/reject/ufunclike.pyi
  test/static/reject/ufuncs.pyi
  test/static/reject/warnings_and_errors.pyi
Labels: topic: code style

#376 🏷️ stub `copysign`, `heaviside`, `logaddexp`, `logaddexp2`, `nextafter`
  src/numpy-stubs/_core/umath.pyi
  test/static/accept/ufuncs.pyi
  test/static/reject/ufuncs.pyi
Labels: stubs: Enhancement, numpy.ufunc

#384 ✨ improved `ndarray` and better `_numtype` aliases
  src/_numtype/__init__.pyi
  src/_numtype/_scalar.pyi
  src/_numtype/_scalar_co.pyi
  src/_numtype/ruff.toml
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/getlimits.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/umath.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_shape_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  test/static/accept/arithmetic.pyi
  test/static/accept/bitwise_ops.pyi
  test/static/accept/fft.pyi
  test/static/accept/fromnumeric.pyi
  test/static/accept/linalg.pyi
  test/static/accept/matrix.pyi
  test/static/reject/arithmetic.pyi
  test/static/reject/fromnumeric.pyi
  test/static/reject/ndarray_misc.pyi
  test/static/test__numtype.pyi
Labels: blame: Mypy, stubs: Enhancement, stubs: Refactor, _numtype

#390 ✅ validation tests for the C data type assumptions
  test/ruff.toml
  test/runtime/test_ctype_assumptions.py
Labels: topic: testing

#391 💥 concrete complex scalar types
  src/_numtype/_scalar.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_user_array_impl.pyi
  test/static/accept/extended_precision.pyi
  test/static/accept/ndarray_conversion.pyi
  test/static/accept/scalars.pyi
  tool/allowlists/common-todo.txt
Labels: stubs: Incorrect, numpy.generic, is: Breaking

#394 🧑‍💻 add `lefthook` for pre-commit formatting and linting
  lefthook.yml
  pyproject.toml
  uv.lock
Labels: topic: automation, topic: developer experience

#387 🧑‍💻 add `format_ignores` tool
  src/numpy-stubs/_core/defchararray.pyi
  src/numpy-stubs/dtypes.pyi
  test/static/reject/flatiter.pyi
  test/static/reject/lib_polynomial.pyi
  test/static/reject/ndarray.pyi
  test/static/reject/ndarray_misc.pyi
  tool/README.md
  tool/format_ignores.py
Labels: topic: automation, topic: code style

#396 👷 add `format-ignores` step to CI
  .github/workflows/ci.yml
Labels: topic: automation, tool: github-actions, topic: code style

#397 💥 concrete floating scalar types
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/random/_generator.pyi
  test/static/accept/extended_precision.pyi
  test/static/accept/ndarray_assignability.pyi
  tool/allowlists/common-todo.txt
Labels: numpy.generic, stubs: Refactor, is: Breaking

#398 ⬆️ dependency updates and fixed lefthook config
  .vscode/settings.json
  lefthook.yml
  pyproject.toml
  tool/allowlists/lt-py312.txt
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Labels: blame: Mypy, topic: developer experience, topic: dependencies

#399 📝 NumType-specific contributing guide
  CONTRIBUTING.md
  pyproject.toml
Labels: topic: documentation

#401 🔧 add ignore-format in lefthook configuration
  lefthook.yml
Labels: topic: developer experience, topic: code style

#403 📝 add development tools section to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: topic: documentation

#404 🏷️ stub _core.umath._[{l,r}]strip_whitespace
  src/numpy-stubs/_core/umath.pyi
Labels: stubs: Enhancement, numpy.ufunc

#402 🐛 fix incorrect binop signatures of the abstract scalar types
  src/numpy-stubs/__init__.pyi
  test/generated/ruff.toml
  test/generated/scalar_binops.pyi
  test/static/accept/mod.pyi
  tool/testgen.py
Labels: stubs: Incorrect, blame: Mypy, blame: Pyright, numpy.generic, topic: NEP 50

#407 💥 concrete `signedinteger` scalar types
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ctypeslib.pyi
  test/static/accept/mod.pyi
Labels: numpy.generic, is: Breaking

#408 💥 concrete `unsignedinteger` scalar types
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/getlimits.pyi
  src/numpy-stubs/_typing/__init__.pyi
  src/numpy-stubs/_typing/_array_like.pyi
  src/numpy-stubs/_typing/_nbit.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/ctypeslib.pyi
  src/numtype/__init__.py
  test/runtime/test_numtype.py
  test/static/accept/nbit_base_example.pyi
  tool/allowlists/common-todo.txt
  tool/stubtest.py
Labels: numpy.generic, stubs: Refactor, is: Breaking

#410 ♻️ prefer using concrete scalar types instead of `_numtype`'s abstract aliases
  src/_numtype/__init__.pyi
  src/_numtype/_scalar.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_asarray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_arraysetops_impl.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
Labels: stubs: Refactor, _numtype

#414 ⬆️ bump `baseedpyright` to `1.28.4` (pyright `1.1.398`)
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Labels: tool: basedpyright, topic: dependencies

#412 🐛 update `format_ignores.py` to accept multiple paths as input
  tool/format_ignores.py
Labels: topic: automation

#418 🤖 reorganize the generated tests
  test/generated/literal_bool_ops.pyi
  test/generated/scalar_binops.pyi
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_bitwise.pyi
  test/generated/scalar_ops_comparison.pyi
  tool/ruff.toml
  tool/stubtest.py
  tool/testgen.py
Labels: topic: testing

#419 🚚 `ruff.toml` => `.ruff.toml`
  src/_numtype/.ruff.toml
  src/numpy-stubs/.ruff.toml
  src/numtype/.ruff.toml
  test/.ruff.toml
  test/generated/.ruff.toml
  test/runtime/.ruff.toml
  test/static/.ruff.toml
  test/static/accept/.ruff.toml
  test/static/reject/.ruff.toml
  tool/.ruff.toml
Labels: topic: developer experience

#420 🤖 test generation for scalar `divmod`
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_modular.pyi
  tool/testgen.py
Labels: numpy.generic, topic: testing

#421 🩹 fix failing generated scalar `divmod` tests
  src/numpy-stubs/__init__.pyi
  test/generated/scalar_ops_modular.pyi
Labels: blame: Pyright, numpy.generic, stubs: Workaround

#413 🏷️ stub _-{l,r}]strip_chars
  src/numpy-stubs/_core/umath.pyi
Labels: stubs: Enhancement, numpy.ufunc

#422 🐛 fix failing `[un]signedinteger` binop type-tests
  src/_numtype/__init__.pyi
  src/_numtype/_scalar.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/__init__.pyi
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_bitwise.pyi
  test/generated/scalar_ops_comparison.pyi
  test/generated/scalar_ops_modular.pyi
  tool/testgen.py
Labels: stubs: Incorrect, blame: Mypy, numpy.generic, topic: testing

#423 ✅ add tests for `format_ignores`
  tool/__init__.py
  tool/test/__init__.py
  tool/test/test_format_ignores.py
Labels: topic: testing, topic: automation

#424 🐛 fix failing `integer` binop type-tests
  src/numpy-stubs/__init__.pyi
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_bitwise.pyi
  test/generated/scalar_ops_comparison.pyi
  test/generated/scalar_ops_modular.pyi
  tool/testgen.py
Labels: stubs: Incorrect, blame: Mypy, numpy.generic, topic: testing
